@model IEnumerable<SimpleSocialMedia.Models.PostModel>
@using System.Security.Claims;
@{
    var defaultAvatarUrl = Url.Content("~/images/default-user-pic.jpg");
}

@foreach (var post in Model)
{
    <div class="post" data-post-id="@post.Id">
        <div class="post-header">
            <img class="avatar" src="@(post.User.AvatarUrl ?? defaultAvatarUrl)" alt="Avatar" onerror="this.onerror=null; this.src='@(defaultAvatarUrl)';" />
            <div class="post-info">
                <a class="username" data-user-id="@post.User.Id">@post.User.UserName</a>
                <span class="created-at">@post.CreatedAt.ToString("g")</span>
            </div>
        </div>
        <div class="post-content">
            <p>@post.Content</p>
        </div>
        <div class="post-actions">
            <div class="likes">
                <div class="like-actions-pic">
                    <img src="~/images/@(post.Likes.Any(l => l.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier)) ? "liked.svg" : "not-liked.svg")" height="30px" class="like-toggle" />
                </div>
                <span class="likes-count">@post.Likes.Count</span>
            </div>
        </div>
    </div>
}
