@model SimpleSocialMedia.Models.UserModel
@using System.Security.Claims;

@{
    ViewData["Title"] = Model.UserName;
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var defaultAvatarUrl = Url.Content("/images/default-user-pic.jpg");
    var initialAvatarUrl = Url.Content("~/uploads/avatars/" + Model.AvatarUrl);
    var defaultHeaderPhotoUrl = Url.Content("~/images/default-user-header-pic.jpg");
    var initialHeaderPhotoUrl = Url.Content("~/uploads/headers/" + Model.HeaderUrl);
}

<head>
    <link rel="stylesheet" href="~/css/profile.css"/>
    <link rel="stylesheet" href="~/css/posts-feed.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var defaultAvatarUrl = '@(defaultAvatarUrl)';
        var defaultHeaderPhotoUrl = '@(defaultHeaderPhotoUrl)';
    </script>
</head>

<div class="profile-header">
    <div class="header-photo" style="background-image: url(@initialHeaderPhotoUrl), url(@defaultHeaderPhotoUrl);"></div>
    <div class="header-info">
        <img class="avatar" src="@(initialAvatarUrl ?? defaultAvatarUrl)" alt="Фотография пользователя" onerror="this.onerror=null; this.src='@defaultAvatarUrl';" />
        <div class="user-info">
            <h2>@(Model.LastName + " " ?? "")@(Model.FirstName + " " ?? "")@(Model.Pathronymic ?? "")</h2>
            <p>
                @if (!string.IsNullOrEmpty(Model.Email))
                {
                    <text>Email: @Model.Email</text>
                }
            </p>
            <p>@Model.Description</p>
        </div>
        <button class="edit-profile-button">Редактировать профиль</button>
    </div>
</div>

<div class="post-feed">
    @await Html.PartialAsync("_PostsListPartial", Model.Posts)
</div>

<!-- Modal -->
<div id="editProfileModal" class="modal">
    <div class="modal-content">
        <div class="edit-actions">
            <button class="close" aria-label="Close" style="background: none; border: none; cursor: pointer; padding: 0;">
                <svg viewBox="0 0 24 24" aria-hidden="true" role="img" class="icon" style="color: rgb(15, 20, 25); width: 24px; height: 24px;">
                    <path d="M10.59 12L4.54 5.96l1.42-1.42L12 10.59l6.04-6.05 1.42 1.42L13.41 12l6.05 6.04-1.42 1.42L12 13.41l-6.04 6.05-1.42-1.42L10.59 12z"></path>
                </svg>
            </button>
            <h3>Редактирование профиля</h3>
            <button type="submit" class="save-profile">Сохранить</button>
        </div>
        <div class="edit-header">
            <div class="edit-header-photo-container">
                <div class="edit-header-photo" style="background-image: url(@Url.Content(initialHeaderPhotoUrl)), url(@Url.Content(defaultHeaderPhotoUrl));"></div>
                <div class="header-actions">
                    <div class="add-header-photo-container">
                        <img class="add-header-photo" src="~/images/add-photo.svg" alt="Add Header Photo"/>
                    </div>
                    <div class="delete-header-photo-container">
                        <button class="delete-header-photo" aria-label="Close" style="background: none; border: none; cursor: pointer; padding: 0;">
                            <svg viewBox="0 0 24 24" aria-hidden="true" role="img" class="icon" style="color: rgb(15, 20, 25); width: 24px; height: 24px;">
                                <path d="M10.59 12L4.54 5.96l1.42-1.42L12 10.59l6.04-6.05 1.42 1.42L13.41 12l6.05 6.04-1.42 1.42L12 13.41l-6.04 6.05-1.42-1.42L10.59 12z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="edit-avatar-container">
                <img class="edit-avatar" src="@(initialAvatarUrl ?? defaultAvatarUrl)" alt="Фотография пользователя" onerror="this.onerror=null; this.src='@(defaultAvatarUrl)';" />
                <div class="avatar-menu-content" style="display: none;">
                    @if (Model.Id == currentUserId)
                    {
                        <button class="update-avatar">Обновить фото</button>
                        <button class="delete-avatar">Удалить фото</button>
                    }
                </div>
            </div>
        </div>
        <form id="edit-profile-form" method="post" action="/Users/Edit" enctype="multipart/form-data">
            <div class="edit-container">
                <label for="lastName">Фамилия</label>
                @Html.TextBoxFor(m => m.LastName, new { @id = "lastName", @required = "required" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>

            <div class="edit-container">
                <label for="firstName">Имя</label>
                @Html.TextBoxFor(m => m.FirstName, new { @id = "firstName", @required = "required" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>

            <div class="edit-container">
                <label for="pathronymic">Отчество</label>
                @Html.TextBoxFor(m => m.Pathronymic, new { @id = "pathronymic", @required = "required" })
                @Html.ValidationMessageFor(m => m.Pathronymic, "", new { @class = "text-danger" })
            </div>

            <div class="edit-container">
                <label for="description">Описание</label>
                <textarea id="description" name="Description" required>@Model.Description</textarea>
            </div>

            <input type="file" id="add-header-photo-input" name="headerPhoto" accept="image/*" style="display:none;" />
            <input type="file" id="add-avatar-input" name="avatarPhoto" accept="image/*" style="display:none;" />

            <!-- Эти скрытые поля будут использоваться для хранения URL, если нужны -->
            <input type="hidden" id="header-photo-url" name="headerPhotoUrl" value="" />
            <input type="hidden" id="avatar-photo-url" name="avatarPhotoUrl" value="" />

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="~/js/profile.js"></script>
<script src="~/js/posts-feed.js"></script>